.slider
  .slide.slide1
    p hostel for students of kpi
  .slide.slide2
    p hostel for students of kpi
  .slide.slide3
    p hostel for students of kpi
  .slide.slide4

.controls
  .title    
    .slides-arrow
      img.arrow-left(src="./icons/lg/left-arrow.png")
      span.slides-number 
      of 4
      img.arrow-right(src="./icons/lg/left-arrow.png")
    p.slide-title hostel for students of kpi
  
