
.slider
  .slide.slide1
  .slide.slide2
  .slide.slide3
  .slide.slide4

.controls
  .title    
    .slides-arrow
      img.arrow-left(src="./icons/lg/left-arrow.png")
      span 1 of 4
      img.arrow-right(src="./icons/lg/left-arrow.png")
    p.slide-title1 hostel for students of kpi
  
