.header
  .logo
    .icon
      img(src="./icons/lg/UDG_01_lg_0001s_0000s_0000s_0000_logo.png")
    .title
      p Urban 
      p Development 
      p Group
  .menu
    ul.navigation
      li 
        a(href="#") Home
      li 
        a(href="#") About Us
      li 
        a(href="#") Projects
      li 
        a(href="#") Clients
      li 
        a(href="#") Partners
      li 
        a(href="#") News
      li.lang
        a(href="#") en
      li 
        a(href="#") 
        img(src="./icons/lg/UDG_01_lg_0001s_0000s_0001s_0009_search-interface-symbol.png")
