.header
  position: absolute
  color: white
  padding: 20px 40px
  display: flex
  flex-direction: row
  justify-content: space-between
  top: 0
  left: 0
  right: 0

.logo
  text-transform: uppercase

.menu
  margin-top: 16px

.title
  margin-left: 30px

.navigation
  li
    display: inline
    list-style-type: none
    margin-left: 42px
    padding-top: 8px
    &:hover
      border-top: 1px solid white
    a
      text-decoration: none
      color: #ecf0e8

  .lang
    border: 1px solid transparent
    padding: 8px
    margin-left: 34px
    &:hover
      border: 1px solid white
      padding: 8px
      margin-left: 34px
