.content
  .project-link
    .logo
      img(src="#")
    .text
      span Our Projects
      a(href="#")
        p see portfolio
  .projects
    .project.project1
      p Hostel for
      p students of kpi
    .project.project2
      p house clubs
      p "nagornyi"
    .project.project3
      p Residental complex
      p "Campus"
    .project.project4
      p Hostel for
      p students of kpi
