.footer
  .copyright
    span &copy; 2015 Standard developments, All rights reserved.
  .social
    img.icon(src="./icons/lg/facebook.png")
    img.icon(src="./icons/lg/twitter.png")
    img.icon(src="./icons/lg/vk.png")
  .made-by
    .logo
      span.by by
      |&nbsp;
      span.logotype OTAKOYI
      .bubble.green-bubble
      .bubble.blue-bubble
